# Required parameters for sam deploy
GIT_REPO_URL=https://github.com/<user>/<repo>.git
GIT_SECRET_ARN=arn:aws:secretsmanager:<region>:<account-id>:secret:<secret-name>

# Optional
SCHEDULE=rate(1 day)
AWS_REGION=us-east-1
